@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-image: url("parchment-slides-ppt.jpeg");
    background-size: 950px;
    margin: 0px;
}


header{
    height: 300px;
    background-image: url("1ba7eacf-c1f7-4ce7-9b1f-529abf44ff8c.__CR0\,0\,970\,600_PT0_SX970_V1___.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px 600px;
    left: 25%;
    min-width: 350px;
}

header h1{
    font-family: 'Vast Shadow', cursive;
    color: white;
    text-align: center;
    position: relative;
    top: 50px;
    margin: 0px;
    font-size: 40px;
}

.alpha-search{
    max-width: 1200px;
    min-width: 350px;
    margin-bottom: 50px;
    background-color: darkred;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#form{
    max-width: 205px;
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#testo{
    background-color: white;
}

#spells-main{
    position: relative;
    padding-top: 1px;
    font-family: 'Raleway', sans-serif;
    max-width: 1215px;
    margin-left: auto;
    margin-right: auto;
  }

.section{
    /* font-family: 'Vast Shadow', cursive; */
    font-family: 'Roboto', sans-serif;
    color: darkred;
    background-image: url("section-background.png");
    background-repeat: no-repeat;
    background-size: 100.4% 65px;
    box-shadow: 10px 10px 5px #ccc;
    height: 60px;
    position: relative;
    margin-bottom: 20px;
    max-width: 800px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.title-style{
    font-size: 22px;
    position: relative;
    margin: 0px;
    letter-spacing: 2px;
    top: 5px;
}

h5{
    margin: 0px;
    font-size: 20px;
    position: relative;
    top: 5px;
}

#pContainer{
    max-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

nav{
    min-width: 350px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav a{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 26px;
    text-decoration: none;
    font-family: 'Vast Shadow', cursive;
    color: white;
}

#paragraphDesc1 p{
    display: inline;
}
#paragraphDesc2 p{
    display: inline;
}
#paragraphDesc3 p{
    display: inline;
}
#paragraphDesc4 p{
    display: inline;
}
#paragraphDesc5 p{
    display: inline;
}
#paragraphDesc6 p{
    display: inline;
}

.description-titles{
    font-weight: bold;
    color: darkred;
}

footer{
    height: 300px;
    background-color: black;
}

footer p{
    color: white;
    min-width: 200px;
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}

#service{
    position: fixed;
    width: 400px;
    height: 40px;
    background-color: darkred;
    bottom: 0px;
}

#service a{
    position: relative;
    text-decoration: none;
    color: white;
    top: 10px;
    margin-left: 85px;
    margin-right: 30px;
}