@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-image: url("parchment-slides-ppt.jpeg");
    background-size: 950px;
}

header{
    height: 300px;
    background-image: url("1ba7eacf-c1f7-4ce7-9b1f-529abf44ff8c.__CR0\,0\,970\,600_PT0_SX970_V1___.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px 600px;
    left: 25%;
    min-width: 558px;
}

.alpha-search{
    height: 50px;
    max-width: 1200px;
    min-width: 558px;
    margin-bottom: 50px;
    background-color: red;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#spells-main{
    position: relative;
    padding-top: 1px;
    font-family: 'Raleway', sans-serif;
    max-width: 1215px;
    margin-left: auto;
    margin-right: auto;
  }

.section{
    font-family: 'Vast Shadow', cursive;
    font-size: 30px;
    background-image: url("section-background.png");
    background-repeat: no-repeat;
    background-size: 558px 65px;
    height: 66px;
    position: relative;
    margin-bottom: 20px;
    max-width: 50%;
    min-width: 558px;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-top: 20px;
}

.title-style{
    position: relative;
    top: 10px;
    left: 20px;
}

#pContainer{
    max-width: 1000px;
    position: relative;
    left: 25.5%;

}

nav{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

nav a{
    margin-left: 20px;
}
