@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.section{
    margin: 10px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    margin: 4px;
    padding: 10px;
    font-family: 'Vast Shadow', cursive;
    font-size: 30px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}


